{
  "version": "2018-05-29",
  "operation": "UpdateItem",
  "key": {
    "id": $util.dynamodb.toDynamoDBJson($ctx.identity.sub)
  },
  "update": {
    "expression": "SET email = :email, firstname = :firstname, lastname = :lastname, biography = :biography, country = :country, city = :city",
    "expressionValues": {
      ":email": $util.dynamodb.toDynamoDBJson($ctx.args.input.email),
      ":firstname": $util.dynamodb.toDynamoDBJson($ctx.args.input.firstname),
      ":lastname": $util.dynamodb.toDynamoDBJson($ctx.args.input.lastname),
      ":biography": $util.dynamodb.toDynamoDBJson($ctx.args.input.biography),
      ":country": $util.dynamodb.toDynamoDBJson($ctx.args.input.country),
      ":city": $util.dynamodb.toDynamoDBJson($ctx.args.input.city),
    }
  }
}
