{
    "version": "2018-05-29",
    "operation": "DeleteItem",
    "condition": {
        "expression": "creator = :creator",
        "expressionValues": {
            ":creator": $util.dynamodb.toDynamoDBJson($ctx.args.creator)
        }
    },
}
