{
    "version": "2018-05-29",
    "operation": "Scan",
    "filter": {
        "expression": "(player1 = :player OR player2 = :player) AND gameTerminated = :gameTerminated",
        "expressionValues": {
            ":player": $util.dynamodb.toDynamoDBJson($ctx.args.player),
            ":gameTerminated": {"BOOL": true}
        }
    }
}
