{
    "version" : "2018-05-29",
    "operation" : "Scan",
    "filter" : {
        "expression": "(player1 = :player1 AND player2 = :player2 OR player1 = :player2 AND player2 = :player1) AND gameTerminated = :gameTerminated",
        "expressionValues" : {
            ":player1" : $util.dynamodb.toDynamoDBJson($ctx.args.player1),
            ":player2" : $util.dynamodb.toDynamoDBJson($ctx.args.player2),
            ":gameTerminated": {"BOOL": false}
        }
    }
}
